body {
    background: deepskyblue;
}

.blogPost {
    background:salmon;
    width:80vw;
    margin:20px auto;
    padding:10px;
    border-radius:20px 0;
    box-shadow: 5px 5px 20px 10px black;
    min-height:20vh;
}